<div class="container">
  <div class="row">
    <div class="offset-2 col-10 py-sm-4 px-sm-4">
       <h5>ログイン</h5>
    </div>
  </div>

  <%= form_with model: @user, url: user_session_path do |f| %>

  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <p>会員の方はこちらからログイン</p>
    </div>
  </div>
  
  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">ニックネーム</p>
          <div class="col-auto">
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">メールアドレス</p>
          <div class="col-auto">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">パスワード</p>
          <div class="col-auto">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
      </div>
    </div>
  </div>

  <div class="offset-3 col-9 py-sm-4 px-sm-4">
    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  </div>
  <% end %>

  <div class="low">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <p>新規登録は<%= render "user/shared/links" %></p>
    </div>
  </div>

</div>