<div class="container">
  <div class="row">
    <div class="offset-2 col-10 py-sm-4 px-sm-4">
       <h5>新規登録</h5>
    </div>
  </div>

<%= form_with model: @user, url: user_session_path do |f| %>
  <%= render "user/shared/error_messages", resource: resource %>
  
  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">ニックネーム</p>
          <div class="col-auto">
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">メールアドレス</p>
          <div class="col-auto">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">パスワード</p>
          <div class="col-auto">
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字)</em>
            <% end %><br />
          </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-9 py-sm-4 px-sm-4">
      <div class="form-group">
        <p class="col-auto">パスワード(確認用)</p>
          <div class="col-auto">
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<div class="low">
  <div class="offset-3 col-9 py-sm-4 px-sm-4">
    <p>ログインは<%= render "user/shared/links" %></p>
  </div>
</div>